[2018-02-03 22:13] deshraj opened #4 "Setup Travis CI"

[2018-02-03 22:14] deshraj opened #5 "Add Installation instructions using Docker"
We have setup the docker for ngx but  the docs are still missing. The deliverable of this issue is to add the installation instructions using docker. Please feel free to comment if you have concerns.

Command to run docker: `docker-compose -f docker-compose.dev.yml up -d --build`

[2018-02-03 22:15] deshraj opened #6 "Setup Docs for EvalAI-ngx using Github Pages"

[2018-02-04 07:51] muddlebee commented on #6
hey @deshraj  can I take this up? also by github pages do you mean wiki ?

[2018-02-04 11:04] Arun-Jain commented on #4
@deshraj @RishabhJain2018 Can I give it a try.

[2018-02-04 14:08] RishabhJain2018 commented on #4
@Arun-Jain Yes sure!

[2018-02-09 12:32] Arun-Jain opened #10 "Add information about EvalAI in README."
Information to add in README file:

- EvalAI Logo
- About EvalAI
- Goal
- Performance comparison

@deshraj @aka-jain @RishabhJain2018 Can I work on this?

[2018-02-11 18:10] #4 closed

[2018-02-11 18:13] deshraj commented on #10
Yeah please go ahead. :)

[2018-02-11 18:16] deshraj commented on #6
@anweshknayak: Sure. You can put documentation files in the docs/ directory which we can host using Github Pages.

[2018-02-14 18:17] #5 closed

[2018-02-15 10:28] RishabhJain2018 opened #13 "Add tool to fetch pull request in order to test it on local machine."
**Deliverable:** It should be a script which fetches a pull request and then switches the user to the new branch.

[2018-02-15 18:30] #13 closed

[2018-02-18 02:12] #10 closed

[2018-02-25 08:29] xamfy opened #17 "Implement the authservice"
Implement the isLoggedin function
- check the presence of token in localstorage

[2018-02-25 15:29] aka-jain commented on #17
@xamfy authService has already been implemented. Regarding token we will open an issue when we done with the auth functionality. Let me know if you have any concern. Otherwise we will reopen this issue after completing auth functionality.

[2018-02-25 15:39] xamfy commented on #17
got it, how will you take forward the auth functionality? Can I help with that.

[2018-02-25 15:43] aka-jain commented on #17
@xamfy We are working on designing of product that's why it's getting little late. Will open plenty of issue soon. Till then read about the best practices for Angular 5 and we really want some good suggestions from everyone.

Till then I'm closing this issue.

[2018-02-25 15:43] #17 closed

[2018-02-25 15:44] aka-jain commented on #6
@anweshknayak are you working on this?

[2018-02-25 15:45] muddlebee commented on #6
@aka-jain Can you help me a bit here? Do I include every doc as it is in here https://github.com/Cloud-CV/EvalAI/tree/master/docs.

[2018-02-27 19:24] Arun-Jain opened #22 "Fix Typo"
Close bracket is missing in performance comparison.
![screenshot_2018-02-28-00-43-52](https://user-images.githubusercontent.com/16155501/36749750-b1c7d1b0-1c21-11e8-977c-39548f534dfc.png)

[2018-02-27 19:29] spyshiv commented on #22
@Arun-Jain assigning this to you. Please fix that ASAP.

[2018-02-27 19:44] aka-jain opened #23 "Create header component for EvalAI home page"
Attaching design for EvalAI home page intro section.
![evalai_redesign_2](https://user-images.githubusercontent.com/11537940/36750880-a531f69e-1c24-11e8-82f9-9e6f997c0a36.jpg)

Create header according to the attached design.
Follow `variables.scss` for styling (add new variables wherever needed).

Note: Try to make responsive header.

Let us know in case of any query.

[2018-02-27 19:45] muddlebee commented on #23
@aka-jain  Can I try this?

[2018-02-27 19:47] aka-jain opened #24 "Create common button styles for EvalAI"
Attaching design of EvalAI home page for the reference.

Create buttons as used in this design (white and transparent). basically, you have to add common styles for these buttons (modular scss).

Let us know in case of any query.

![evalai_redesign_2](https://user-images.githubusercontent.com/11537940/36751072-1e4e52c0-1c25-11e8-9887-5d4a6d051c05.jpg)

[2018-02-27 19:48] aka-jain opened #25 "Add font family."
Add `Open Sans` font family for global styling.
Steps for creation:

- Create a new file `fonts.scss` for this addition
- Import it in base.scss.

Here is the reference link https://fonts.google.com/specimen/Open+Sans
Please let us know in case of any query.

[2018-02-27 19:51] ParthS007 commented on #25
@aka-jain I want to work on this . Can I proceed with it ?

[2018-02-27 19:53] aka-jain commented on #25
Sure @ParthS007, assigning this to you.

[2018-02-27 19:55] aka-jain commented on #23
Yes @anweshknayak , please go ahead.

[2018-02-27 19:56] ParthS007 commented on #24
@aka-jain  I want to work on this , can you please tell where I have to do the changes . Thanks  :smiley:

[2018-02-27 19:56] spyshiv commented on #23
@anweshknayak sure! Go ahead. Assigning this to you.

[2018-02-27 19:57] harshit98 commented on #25
Working on it. @ParthS007 you're already working on #24 😄

Can we divide some work among ourselves?

[2018-02-27 19:59] ParthS007 commented on #25
@harshit98  you can start working on #24 . I am going with this issue :+1:

[2018-02-27 20:01] harshit98 commented on #24
Working on it @aka-jain.

[2018-02-27 20:02] aka-jain commented on #25
@harshit98 please pick up another issue. This has been already assigned to @ParthS007

[2018-02-27 20:09] aka-jain commented on #24
@ParthS007 please pick up one issue at a time.

@harshit98 assigning this to you.

[2018-02-28 05:49] muddlebee commented on #23
@spyshiv @aka-jain Do I need to create a separate `components` folder in `EvalAI-ngx/src/app/` for the header component ?

[2018-02-28 06:05] aka-jain commented on #23
Yes @anweshnayak.

[2018-02-28 06:37] aka-jain commented on #6
@deshraj please have a look here.

[2018-02-28 06:38] aka-jain commented on #22
Fixed with #26 . Closing this.

[2018-02-28 06:38] #22 closed

[2018-02-28 16:07] muddlebee commented on #23
@aka-jain  I think I should wait for #24 ? Or I just create separate button styles for header component?

[2018-02-28 16:16] aka-jain commented on #23
Just place dummy buttons for now. Will open a separate issue for that.

[2018-02-28 16:42] anweshknayak opened #29 "import global css easily from components"

[2018-02-28 16:47] #29 closed

[2018-02-28 16:52] aka-jain commented on #25
@ParthS007 any update on this?

[2018-02-28 19:55] ParthS007 opened #31 "Update Issue and PR template"
**Expected behavior**

Presently, Contributor has to do a lot of changes in Issue and PR  template. One has to remove lots of text present already in templates and then has to edit according to issue/PR.

**Observed behavior**
There should be simple templates so that contributor has to just mention the bug/feature instead of editing and removing lots of text.

[2018-02-28 21:30] deshraj commented on #6
Sorry @anweshknayak for the confusion. For now, you can just add the docs related to setting up the project (what is there in README of EvalAI-ngx) and then we can as we make progress, we can add more docs.

[2018-02-28 21:31] deshraj commented on #31
Thanks @ParthS007. I really liked this idea. :)

[2018-02-28 21:39] ParthS007 commented on #31
@deshraj  Can you please review #32 , I have updated the templates. Please give suggestions if there are any changes required. Thanks

[2018-02-28 21:41] deshraj commented on #31
Done.

[2018-02-28 21:57] #31 closed

[2018-03-01 15:33] anweshknayak opened #34 "Add footer component for EvalAI"
@aka-jain @spyshiv

[2018-03-02 02:53] S2606 commented on #6
Is anyone working on this??

[2018-03-02 02:59] S2606 opened #35 "Git clone statement error"
## I'm submitting a

(Check one with "x" from given options)
- [X] Bug report
- [ ] Feature request

## Current behavior
On using ``git clone git@github.com:Cloud-CV/EvalAI-ngx.git`` it gives an error regarding access rights

## Expected behavior
Change the statement to ``git clone https://github.com/Cloud-CV/EvalAI-ngx``

I would like to work on this

[2018-03-02 02:59] S2606 commented on #35
@deshraj Please review

[2018-03-02 05:03] aka-jain commented on #35
@S2606 do you want to update the README or something else?

[2018-03-02 05:03] S2606 commented on #35
Yes @aka-jain

[2018-03-02 05:06] aka-jain commented on #34
@anweshknayak thanks for opening the issue. But we don't  have design ready for this. Will open it once we done with the design. Till then I'm closing this.

[2018-03-02 05:06] #34 closed

[2018-03-02 05:07] aka-jain commented on #35
Cool, please go ahead. @S2606

[2018-03-02 05:21] spyshiv commented on #35
@S2606 you don't need to change url. You should mention that
if a someone haven't integrated ssh key to GitHub account then use `git clone https://github.com/Cloud-CV/EvalAI-ngx` otherwise it's totally fine

[2018-03-02 05:26] S2606 commented on #35
@aka-jain Should I make the requested change??

[2018-03-02 05:32] spyshiv commented on #35
@S2606 yes.

[2018-03-03 16:53] muddlebee commented on #6
@S2606 I am. Will send a PR soon :smile:

[2018-03-07 08:32] xamfy opened #39 "Failing e2e tests due to chrome version error on travis"

[2018-03-08 07:51] ParthS007 opened #40 "Auto deployment of every PR using Surge"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior
At present, there is no auto deployment of Pull request.

## Expected behavior
There should be auto deployment of PR which will ease the review process.

Mentors, Please give your views on this.

I want to work on this.

[2018-03-08 07:52] ParthS007 commented on #40
@deshraj @aka-jain @RishabhJain2018 @spyshiv  Please give your views on this feature.

[2018-03-08 08:20] ParthS007 opened #41 "Add Codecov support for code coverage"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior
At present, there is no support for testing code coverage.

## Expected behavior
There should be a support for testing code coverage as code coverage is a measurement used to express the degree to which the source code is executed when a test suite runs.

@deshraj @aka-jain @Ris

[2018-03-08 10:10] anweshknayak opened #42 "Ahead-of-Time Compilation for production builds"
More here : https://help.syncfusion.com/angular/gettingstarted/getting-started-with-webpack-aot

Why do Ahead-of-Time Compilation

-    Faster Rendering
-    Fewer asynchronous requests
-    Smaller Angular framework download size
-    Detect template errors earlier
-    Better security

@aka-jain @spyshiv

[2018-03-08 11:01] aka-jain commented on #42
Thanks for pointing this out @anweshnayak. We will use AOT at the time of bundling. Bit it's not useful for development purpose. So, closing this issue for now.

[2018-03-08 11:01] #42 closed

[2018-03-08 11:02] aka-jain commented on #39
You working on this @xamfy?

[2018-03-08 11:26] ParthS007 commented on #39
I want to work on this.

[2018-03-08 11:56] xamfy commented on #39
Yes @aka-jain

[2018-03-08 12:34] aka-jain commented on #39
Assigning this to you @xamfy.

[2018-03-09 04:45] spyshiv commented on #41
thanks @ParthS007 for opening this issue. Go ahead.
I hope to see a PR for this very soon.

[2018-03-09 15:42] #39 closed

[2018-03-09 17:33] #41 closed

[2018-03-09 17:34] ParthS007 commented on #40
@spyshiv  Can I start working on this?

[2018-03-09 17:37] spyshiv commented on #40
@ParthS007 Sounds interesting. Go ahead

[2018-03-15 15:01] Obtin commented on #25
@aka-jain, is anybody working on this if not I would like to take this up

[2018-03-16 07:45] deshraj opened #46 "Create UI for EvalAI Pages"
## How does the new UI look?

EvalAI team has been working on the new UI for last one month. We have come up with this mock-up of the home page (yes it takes a lot of time in planning and discussion. Special thanks to @shivaniprakash95 for taking lead on this):

![evalai_redesign_homepage_2](https://user-images.githubusercontent.com/2945708/37508608-31e6984a-28ca-11e8-90aa-393ff105fa10.jpg)

Note

[2018-03-16 08:20] muddlebee commented on #46
@deshraj  could you provide the assets (background images like the blue one, fonts, buttons) used? If not at all atleast the background images.

It will be hard doing the whole thing using css from scratch. Given we have limited time for proposal submission.

[2018-03-16 08:38] ParthS007 commented on #46
I would also like to work on this @deshraj .
We can collaborate @anweshknayak  if you are working on it .
What's your view on this ?

[2018-03-16 08:46] aka-jain commented on #46
@ParthS007 you have to do this task individually.

[2018-03-16 09:27] shivaniprakash19 commented on #46
Hi Anwesh, we will surely provide you with the documentation as well as
with the assets as soon as possible.

On Fri, Mar 16, 2018 at 1:50 PM, Anwesh Nayak <notifications@github.com>
wrote:

[2018-03-18 04:54] shivaniprakash19 commented on #46
@anweshknayak This is the link to the assets and image for reference.[https://drive.google.com/drive/folders/1BZYFcsegI_1dHhv44Ef208Kzt-XMvBNJ?usp=sharing
![evalai_redesign_documentation](https://user-images.githubusercontent.com/12206049/37562780-866c21aa-2a96-11e8-952e-40f5e8785b7c.jpg)
](url)

[2018-03-18 07:15] geekyharshal commented on #46
Link not working> :/
![screenshot 310](https://user-images.githubusercontent.com/15772947/37563588-2e87a5ae-2aaa-11e8-872c-7c3d6213da0e.png)

[2018-03-18 08:39] shivaniprakash95 commented on #46
@geekyharshal  There was some issue with the previous link. This is the updated one. [https://drive.google.com/open?id=1BZYFcsegI_1dHhv44Ef208Kzt-XMvBNJ](url)

[2018-03-18 08:41] shivaniprakash19 commented on #46
There was some issue with the previous link. This is the updated one : https://drive.google.com/drive/folders/1p2_oOLrgLwh7wHtSOowUtORgAf-ira3m?usp=sharing

[2018-03-19 15:11] muddlebee commented on #46
hey @shivaniprakash95 :wave:

These two image cards are missing.
![evalai_redesign_documentation](https://user-images.githubusercontent.com/8139783/37603853-90c5d1bc-2bb5-11e8-86dd-5cf2c31cc94e.jpg)

or it is something we have to come up on our own?

Looks like the upper image is the old EvalAI design and the one below is something can be done in CSS.

[2018-03-19 19:16] gautamjajoo commented on #46
@anweshknayak
All the images are in the "Header Section" !!

[2018-03-19 19:18] muddlebee commented on #46
@gautamjajoo thanks. I missed it

[2018-03-22 15:19] muddlebee commented on #46
@shivaniprakash95 please provide icon packs too. (Location, Quotation and others used in testimonial card)

[2018-03-22 16:37] shivaniprakash19 commented on #46
@anweshknayak There is a background image in the link provided earlier(google drive link). You can use any similar quotation of a font, and you can get a similar location icon too, please search for it on the website named, flaticon. Let me know if there is still a problem : )

[2018-04-13 19:33] #40 closed

[2018-04-16 19:28] spyshiv opened #50 "Create UI for privacy page"
## UI Design for privacy page

Here is the final design. Please refer to screenshot below.

![evalai_redesign_privacy_final_updated](https://user-images.githubusercontent.com/12206049/39088686-12d47518-45d4-11e8-8e6e-b49f75ddc4e4.jpg)

---

Please comment below if you want to work on this or in case of any question/suggestion.

@shivaniprakash95  please share the details about `assets` and `conten

[2018-04-16 19:37] shivaniprakash19 commented on #50
You can get the relevant text from the present website itself : https://evalai.cloudcv.org/privacy-policy

You can either get to the the documentation and assets of the page by visiting this link : https://drive.google.com/drive/folders/1ex7pKE7UkiX9tJedGPPgBFi5VBzLfVuO?usp=sharing
or you can download it as an attachment :
Documentation ( There is a slight change, as compared to that of earlier on

[2018-04-17 05:50] shivaniprakash95 opened #51 "UI Design for Login page"
**Here is the final design. Please refer to screenshot below.**

![evalai_redesign_loginpage_final](https://user-images.githubusercontent.com/12206049/38850904-1ac74ada-4231-11e8-9e1a-c2d1df062e1b.jpg)

You can refer to the following image for further details on creating the page :
![evalai_redesign_loginpage_final_documentation](https://user-images.githubusercontent.com/12206049/38851026-9902843c

[2018-04-23 19:52] shivaniprakash95 opened #52 "UI Design for About Us page"
**Here is the final design. Please refer to screenshot below.**

![about_us_final](https://user-images.githubusercontent.com/12206049/39149576-29b0fb0a-475d-11e8-96a8-d83d6de3bc6e.jpg)

**You can refer to the following image for further details on creating the page :**

![about_us_final_documentation](https://user-images.githubusercontent.com/12206049/39149604-4df121de-475d-11e8-9956-d11dfdca7a5a.

[2018-04-23 20:02] shivaniprakash95 opened #53 "UI Design for Get Involved page"
**Here is the final design. Please refer to screenshot below.**

![get_involved_final](https://user-images.githubusercontent.com/12206049/39150220-3d3231ba-475f-11e8-8204-9c80854929d8.jpg)

**You can refer to the following image for further details on creating the page :**

![get_involved_final_documentation](https://user-images.githubusercontent.com/12206049/39150245-4d6ff94a-475f-11e8-8191-32e7c

[2018-04-28 19:34] #25 closed

[2018-05-02 11:16] gautamjajoo commented on #52
@spyshiv @RishabhJain2018 @deshraj Can I work on this? Or is this only for GSOC students.

[2018-05-02 13:45] spyshiv commented on #52
@gautamjajoo You can work on any issue there is no restriction. Go ahead with this issue.

[2018-05-03 10:10] live-wire opened #57 "TravisCI Build fails while waiting for an input to surge.sh"
## I'm submitting a
- [x] CI enhancement

## Current behavior
Travis CI builds fail after 10mins as Surge expects an email input which it doesn't get.

## Steps to reproduce
Create any Pull Request (or a new commit in any of the existing Pull Requests)

Useful link:
https://surge.sh/help/integrating-with-travis-ci

[2018-05-03 10:12] deshraj commented on #57
@live-wire Can you please look into this issue? I won't get time until next week to look into this.

[2018-05-03 10:13] live-wire commented on #57
Yeah I'm on it 🍺
I'll reach out to you If i have doubts.

[2018-05-03 10:14] deshraj commented on #57
Sounds good. Thanks a lot for taking lead on this.

[2018-05-04 13:21] shivaniprakash95 opened #59 "UI Design for Contact Us page"
**Here is the final design. Please refer to screenshot below.**

![contact_us_final](https://user-images.githubusercontent.com/12206049/39630054-d1848c0e-4fcb-11e8-9a11-f5b400f13f80.jpg)

**You can refer to the following image for further details on creating the page :**

![contact_us_final_documentation](https://user-images.githubusercontent.com/12206049/39630093-e8d2bab6-4fcb-11e8-94df-996cb67e5

[2018-05-04 13:54] shivaniprakash19 commented on #51
These are the additional icons for SignUp page. Please take reference from the present website so as to get the exact picture of things. Here is the link to the page: https://evalai.cloudcv.org/auth/signup

You can also find the same images on the drive link : https://drive.google.com/drive/folders/1TybetGkutjjndRdoRdx41KHR7-x6WCA4
![confirm_icon](https://user-images.githubusercontent.com/12206049

[2018-05-04 20:03] shivaniprakash95 opened #60 "UI Design for All Challenges page"
**Here is the final design. Please refer to the screenshots below.**

(There are two screenshots here, of the same page :
-The first one shows how the page should look if the filter tabs Ongoing and Upcoming challenges are selected, and the Side upper tag showing which one is what(either upcoming or ongoing.
-The second screenshot shows a scenario if all the filter tabs are selected then the side

[2018-05-09 18:32] live-wire commented on #59
@shivaniprakash95 @deshraj  Should the map in the background be an image (redirects to maps.google.com when clicked) or an interactive Map View ?

[2018-05-09 18:45] shivaniprakash19 commented on #59
@live-wire I think the interactive one would be more realistic and better. @aka-jain @deshraj What are your views on it?

[2018-05-15 13:35] live-wire opened #65 "JS Doc integration"
## Feature request

- [x] Feature request

Need JS Doc integration for the technical documentation of the functions and the project.

[2018-05-15 13:36] live-wire commented on #65
@cc: @aka-jain @spyshiv @RishabhJain2018

[2018-05-15 13:41] live-wire opened #66 "Footer component for all pages"
## Feature Request

- [x] Feature request

Need a Footer Component that can be reused on all the pages.
(See the footer on home page in #46 for reference)

[2018-05-15 13:41] live-wire commented on #66
cc: @shivaniprakash95 @RishabhJain2018 @spyshiv @aka-jain

[2018-05-21 16:44] live-wire opened #69 "Form input component"
Need a reusable form input component that can be reused across the website for all forms.
It should be able to:
- Material design
- Check for required input elements
- Check for validations
- Display required/ validation message
- Should check for validations before the form can be submitted

[2018-05-28 07:19] #23 closed

[2018-05-28 12:06] gautamjajoo opened #72 "Addition of COC & Contributing Guidelines"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Expected behavior

Addition of Code of Conduct & Contributing Guidelines

@deshraj @RishabhJain2018 @live-wire

[2018-06-12 15:45] spyshiv opened #75 "Docker setup is not working"
## I'm submitting a

(Check one with "x" from given options)
- [x] Bug report

It's happening After [this](https://github.com/Cloud-CV/EvalAI/commit/e9840b57f549a5522ff9fce3be94f0b064182093) commit in [evalai](https://github.com/Cloud-CV/EvalAI/) repo.
@RishabhJain2018 @deshraj

[2018-06-12 15:48] #35 closed

[2018-06-13 22:15] live-wire opened #76 "Custom Toasts"
## I'm submitting a

- [ ] Bug report
- [x] Feature request

## Expected behavior
Need custom toasts/messages for success or failure of API requests.

Please post the designs here @shivaniprakash95 🍡

cc: @deshraj @RishabhJain2018 @spyshiv @aka-jain

[2018-06-15 16:40] shivaniprakash19 commented on #76
This is the link to both SVG and PNG files:
https://drive.google.com/drive/folders/1w2QRyWaB6flCLF1meuZqPwCqxz5cqBgK
Please let me know if you need any further help regarding this.

[2018-06-21 06:08] #52 closed

[2018-06-21 11:28] #53 closed

[2018-06-21 12:32] #69 closed

[2018-06-21 20:54] #6 closed

[2018-06-21 20:55] RishabhJain2018 commented on #24
@live-wire I feel this is done? If yes, please feel free to close the issue.

[2018-06-21 20:56] RishabhJain2018 commented on #57
@live-wire Please feel free to close the issue if this is completed.

[2018-06-22 14:29] live-wire commented on #24
It is done as a part of the PR for #23

[2018-06-22 14:29] #24 closed

[2018-06-22 14:29] live-wire commented on #57
This was resolved as part of #58

[2018-06-22 14:29] #57 closed

[2018-06-22 15:23] live-wire opened #78 "Challenge Page"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

Need UI for the Challenge Page.

@shivaniprakash95 Please share the documentation for the final challenge-page design here 🍕

cc: @RishabhJain2018 @spyshiv @aka-jain @deshraj

[2018-06-23 21:06] live-wire opened #79 "Use compressed images and assets"
## I'm submitting a

- [ ] Bug report
- [x] Feature request

The png resources are heavy as of now. Replace all by compressed png files before taking ngx to production 💻

[2018-06-24 13:22] shivaniprakash95 opened #80 "UI Design for Challenge Detail page"
**Here is the final design. Please refer to screenshots below.**

For Overview:
![challenge_page_overview_final](https://user-images.githubusercontent.com/12206049/41819472-9bed4050-77de-11e8-9830-2ee374036cad.jpg)

For Evaluation :
![challenge_page_evaluation_final](https://user-images.githubusercontent.com/12206049/41819478-b3526478-77de-11e8-8fd4-8ef3f99c73d6.jpg)

For Phases :
![challenge_page

[2018-06-24 16:03] live-wire commented on #78
Duplicate issue opened #80
closing this!

[2018-06-24 16:03] #78 closed

[2018-06-25 07:39] #65 closed

[2018-06-25 07:51] RishabhJain2018 commented on #75
okay @spyshiv . I'll look into it 👍

[2018-06-26 08:09] RishabhJain2018 opened #81 "Update Readme"
The current readme should be updated by including badges. Following list should be added:

1. Codecov
2. Travis-CI

Also modify the last line of readme with
`EvalAI-ngx is currently maintained by [Akash Jain](http://www.jainakash.in/), [Shiv Baran Singh](http://www.shivbaran.in/), [Shivani Prakash Gupta](https://www.behance.net/shivaniprakash19), [Rishabh Jain](https://rishabhjain2018.github.io/)

[2018-06-26 08:22] zurda commented on #81
I'd like to take this one, if it's up for grabs

[2018-06-26 08:26] RishabhJain2018 commented on #81
@hakabuk Yes it's available! Go ahead.

[2018-06-26 12:36] #81 closed

[2018-06-28 11:45] live-wire opened #83 "Documentation and Refactoring"
## I'm submitting a

- [ ] Bug report
- [x] Feature request

- All the UI components need a detail markdown documentation for future contributors.
- Most of the UI components currently reside in the app folder. They need to be refactored into subfolders.

(Created this now so we don't lose track of this.) 🍕

[2018-06-29 06:32] #50 closed

[2018-07-02 05:52] live-wire opened #85 "Improve Test Coverage"
More Unit Tests need to be added to take coverage to 90%. 💻

[2018-07-03 09:34] live-wire opened #86 "404 Page"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

Need a 404 page for paths that are not found by app-router.

[2018-07-03 09:35] live-wire opened #87 "Need a Loader animation for all API calls."
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

Need a loader animation for all API calls.

[2018-07-06 15:20] live-wire opened #89 "Create a separate file for all API paths"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

Separate file for all the API paths.

[2018-07-08 12:52] #66 closed

[2018-12-28 18:29] pavanrkadave commented on #46
Hi i would like to work on this issue.

[2018-12-28 18:30] pavanrkadave commented on #86
Can i work on this issue?

[2018-12-28 18:54] RishabhJain2018 commented on #46
Hi @pavanrkadave We already have a new home page ready and we would like to enhance it. Please try running this new frontend and feel free to ask doubts/questions. I'll be happy to help.

[2018-12-28 18:55] RishabhJain2018 commented on #86
@pavanrkadave Sure! go ahead. Please feel free to ask if you have doubts/questions.

[2018-12-28 19:03] live-wire commented on #86
There is a 404 page built as a part of the pull-request #90
It can be found here: https://pr-90-evalai.surge.sh/ (Click on `News` in the header to access the 404 page.)
@pavanrkadave You could take a pull of that PR and see how to organize your new components/ 404-component 😄
cc: @RishabhJain2018

[2018-12-28 19:04] RishabhJain2018 commented on #86
Thanks @live-wire for the heads-up.

[2018-12-29 13:20] pavanrkadave commented on #86
Hi @live-wire, So i need to make the similar changes to this issue as well right?

[2018-12-29 20:08] live-wire commented on #86
That would be a good starting point. We can iterate if we need any design changes after that @pavanrkadave

[2018-12-29 20:11] pavanrkadave commented on #86
Ok, but the version I have cloned does not have the latest code structure.

[2019-01-08 16:02] pavanrkadave commented on #86
I have made the changes, can i get the further instructions to create a PR
@live-wire @RishabhJain2018 ?

[2019-01-09 20:46] live-wire commented on #86
@pavanrkadave Follow the [contribution guidelines](https://github.com/Cloud-CV/EvalAI/blob/master/.github/CONTRIBUTING.md) on EvalAI. Have a look at the other open/merged PRs for tips.

[2019-01-14 18:37] pavanrkadave commented on #86
Can you assign me this issue? @live-wire

[2019-02-22 19:18] Shekharrajak commented on #89
Hi,

Can you please exaplin more about it and an example stating what need to be done ?

[2019-02-22 19:30] Shekharrajak commented on #87
Hi,

Please let me know what will be running in `http://localhost:8000/api/` .

[2019-03-02 23:11] Abhi58 commented on #80
@shivaniprakash95 @RishabhJain2018 @deshraj @aka-jain @spyshiv Hi. I don't find any route to challenges page from the home page. Is this issue still open? If so, then could you please guide me on how to get started?

[2019-03-03 07:08] wadleo commented on #79
Hi @live-wire can someone work on this as a GSOC warmup? Also, I can see some assets are more than 1MB, I am thinking of manually replacing each of those with a compressed version, any recommendations of tools to use with my approach?

[2019-03-03 19:03] Abhi58 commented on #86
Hi @live-wire @RishabhJain2018 . I don't see the code update for 404 page as in PR #90 . Why is  the code not merged yet? Let me know if i can continue working with this issue.

[2019-03-03 21:54] RishabhJain2018 commented on #60
Closing this since it is already merged.

[2019-03-03 21:54] #60 closed

[2019-03-03 21:55] RishabhJain2018 commented on #51
Closing this since it is already merged.

[2019-03-03 21:55] #51 closed

[2019-03-03 21:55] RishabhJain2018 commented on #76
Closing this since it is already merged.

[2019-03-03 21:55] #76 closed

[2019-03-03 21:55] RishabhJain2018 commented on #59
Closing this since it is already merged.

[2019-03-03 21:55] #59 closed

[2019-03-03 22:00] RishabhJain2018 commented on #75
Closing this for now. We'll revisit it later if needed.

[2019-03-03 22:00] #75 closed

[2019-03-03 22:06] RishabhJain2018 commented on #46
Closing this since we already have the UI.

[2019-03-03 22:06] #46 closed

[2019-03-03 22:08] RishabhJain2018 opened #94 "Fix failing travis build"
The `master` branch Travis build is failing due to this reason: https://travis-ci.org/Cloud-CV/EvalAI-ngx/jobs/501229397#L549

[2019-03-03 22:23] RishabhJain2018 commented on #86
Hi @Abhi58, We have the code for 404 page in the master branch now. @live-wire had already added it. Hence, closing this issue.
Please take up the issues labeled as `GSoC-2019`.

[2019-03-03 22:23] #86 closed

[2019-03-03 22:29] RishabhJain2018 commented on #79
Hi @wadleo, you can work on it as a GSoC warmup issue. Moreover, as of now, we don't have any strong preferences for tools being used for compressing the image.

[2019-03-03 22:30] RishabhJain2018 commented on #80
Hi @shashaBot, @Abhi58 We already have this page. Please feel free to take up issues labeled as `GSoC-2019`.

[2019-03-03 22:30] #80 closed

[2019-03-03 22:35] RishabhJain2018 commented on #87
Hi @Shekharrajak,
To answer your question, the Django server will be running on `http://localhost:8000/api/`.

Closing this issue since we have this.

[2019-03-03 22:35] #87 closed

[2019-03-03 22:36] RishabhJain2018 commented on #89
Hi @Shekharrajak , @live-wire have already added this file.
Please feel free to take up any of the deliverables from here: https://github.com/Cloud-CV/GSoC-Ideas/issues/23

[2019-03-03 22:36] #89 closed

[2019-03-04 01:18] Abhi58 commented on #94
Hi @RishabhJain2018 . We are not supposed to use forRoot() for NgxTwitterTimelineModule.  Also after removing forRoot()  i am facing "export 'defineInjectable' was not found in '@angular/core' issue which seems to break the website. Apparantely, this issue exists in all angular versions below 6. I am working on this issue right now. I would be glad if i could get any help regarding the issue.
Also

[2019-03-04 01:29] RishabhJain2018 commented on #83
Closing this since it is already added.

[2019-03-04 01:29] #83 closed

[2019-03-04 01:55] Abhi58 commented on #94
Please assign this issue to me

[2019-03-04 01:58] Abhi58 commented on #85
Hi @live-wire @RishabhJain2018 I am up for this issue. Please assign it to me. Also, any suggestions on how to get started with this issue?

[2019-03-06 17:31] KhalidRmb commented on #94
I would like to take this on! :) @RishabhJain2018

[2019-03-06 17:50] wadleo opened #97 "Numerous build errors prevents the project from compiling"
- [x ] Bug report
- [ ] Feature request

## Current behavior
Numerous build errors prevent the project from compiling. Some include;
- @angular/compiler-cli@5.2.11 requires typescript@'>=2.4.2 <2.7.0' but 2.9.2 was found instead.
Using this version can result in undefined behaviour and difficult to debug problems.
- ERROR in src/app/app.module.ts(116,30): error TS2339: Property 'forRoot' does not

[2019-03-06 17:52] wadleo commented on #97
@RishabhJain2018 @live-wire please can you guide me to solve this, thanks. Recommendations from npm include updating typescript
npm install typescript@'>=2.4.2 <2.7.0'

[2019-03-06 17:54] Abhi58 commented on #97
'ERROR in src/app/app.module.ts(116,30): error TS2339: Property 'forRoot' does not exist on type 'typeof NgxTwitterTimelineModule'. This error has just been fixed. Please refer to PR #96.

[2019-03-06 18:03] Abhi58 commented on #94
@RishabhJain2018 In PR #96 `ng build` command is running properly but [surge](https://travis-ci.org/Cloud-CV/EvalAI-ngx/builds/502683664#L655) is not able to login. Please look into this issue.

[2019-03-06 18:29] Shekharrajak commented on #94
I think, the travis environment variable for this repository (`SURGE_LOGIN`, `SURGE_TOKEN` )  is causing the problem [as per this article](https://surge.sh/help/integrating-with-travis-ci).

[2019-03-06 21:48] wadleo commented on #97
Okay @abhi58, I will test and close this, thanks. For the fix

[2019-03-07 07:57] wadleo commented on #97
@Abhi58 yes #96  fixes this, so I'm closing this, thanks again for your help.

[2019-03-07 07:57] #97 closed

[2019-03-10 07:12] sanketbansal commented on #69
Hey is there something to work on this issue for GSOC 2019.

[2019-03-10 10:38] lunayach commented on #94
Yes, the Travis-build passes till the PR-deploy step. I guess, you'll need to be added as a collaborator in  surge and then it will deploy the PR on [pr-94-evalai.surge.sh](pr-94-evalai.surge.sh), passing the build.

[2019-03-10 22:30] RishabhJain2018 opened #98 "Fix Docker setup"
The docker setup mentioned in the setup instructions isn't working and it fails with the error log:
[code]

[2019-03-10 22:32] wadleo commented on #79
@RishabhJain2018 are there any other resources that need to be compressed, as I noticed only one was left in the assets folder

[2019-03-10 22:33] RishabhJain2018 commented on #79
No, for now you can compress that resource and start working up on other issues.

[2019-03-10 22:34] wadleo commented on #79
@RishabhJain2018 did that already here #95

[2019-03-10 22:39] wadleo commented on #85
@RishabhJain2018 can two people work on this? I have worked with selenium and pupeteer before, doing some karma tutorials now.

[2019-03-10 22:57] RishabhJain2018 commented on #85
Hi @Abhi58 @wadleo,
You both can work on this issue it'd be nice if you will mention here on which part are you working on.

[2019-03-11 04:05] wadleo commented on #85
Okay @RishabhJain2018, thanks

[2019-03-13 17:34] kurianbenoy commented on #98
Can I work on this issue @RishabhJain2018 ? Will put PR immediately. Was interested in what was wrong as reported in community

[2019-03-17 15:44] gautamjajoo opened #106 "Make up-arrow visible on privacy-policy page and smooth scroll"
### Observered Behaviour
The up-arrow is not visible on privacy-page when scrolled at the bottom of the page.

### Expected Behaviour
The up-arrow should be visible and a smooth scroll effect to it.

@RishabhJain2018

[2019-03-17 15:48] gautamjajoo opened #107 "Add scroll bar for navigating through questions on privacy-policy page"
### Observed Behaviour
There is a scroll bar for navigating through questions on Privacy-Policy page which is not functional.

### Expected Behaviour
Add a functional scroll bar for navigating through questions.

@RishabhJain2018

[2019-03-17 16:41] gautamjajoo opened #108 "Remove the scroll bar after “Who uses EvalAI”"
### Observed Behaviour
Scroll bar is visible under `Who uses EvalAI` on normal screen. The scroll bar is used for medium and small screen. Find attached screenshot.

### Expected Behaviour
The scroll bar should not be visible on normal screen.

@RishabhJain2018

![a](https://user-images.githubusercontent.com/24366008/54494425-2c165700-4900-11e9-87ca-0136b5899951.png)

[2019-03-17 17:18] gautamjajoo opened #109 "Research and add FAQ page for end users"
### Deliverables
In continuation with https://github.com/Cloud-CV/EvalAI/issues/1359
 - [ ] Add a new page for FAQ (design same as Privacy-policy page).
 - [ ] Research some FAQ for end users (Maybe discussing the questions would be better before adding). Some of them could be :
[code]

@RishabhJain2018

[2019-03-17 18:27] sanketbansal commented on #106
can i work on this issue? i have already made some changes in privacy policy page.

[2019-03-17 20:45] Abhi58 commented on #108
@RishabhJain2018 @gautamjajoo  In PR #108 I have removed the scroll bar and also build is successfull  but surge is not able to login. Please look into this issue.

[2019-03-17 20:46] RishabhJain2018 commented on #108
Hi @Abhi58 , Thanks for the PR. I'll surely fix the surge issue by tonight and we can start merging your PR's.

[2019-03-17 21:53] sanketbansal commented on #106
Have opened a pull request which fixes the issue of arrow-visibility at the bottom of the page.
https://github.com/Cloud-CV/EvalAI-ngx/pull/111#issue-261875265.

[2019-03-17 22:15] Abhi58 commented on #108
@RishabhJain2018 Thanks.

[2019-03-17 22:30] Abhi58 commented on #109
Hi @gautamjajoo @RishabhJain2018
Are these answers okay:
1) EvalAI is an open-source web platform for organizing and participating in AI challenges. EvalAI = evaluating the state of the art in AI.
4) First start by creating a host team, then create a challenge by using it and upload a challenge configuration zip.
5) Create a participant team, select a challenge and navigate to participate tab. Cho

[2019-03-17 22:31] Abhi58 commented on #109
@gautamjajoo @RishabhJain2018 Also, where to add the FAQ link? In the footer of the website?

[2019-03-19 01:10] #94 closed

[2019-03-19 04:23] #72 closed

[2019-03-22 14:09] harshsahu97 commented on #79
has this issue already been resolved?

[2019-03-30 18:59] sivapalivela commented on #107
Is this issue fixed(The functional scroll bar) ?

[2019-03-30 19:19] lunayach commented on #107
Hi @sivakumarpalivela! There was a pull request earlier to solve this issue. It's live here, https://pr-111-evalai.surge.sh/ Please see if the behaviour is desirable. If not, you could send a new PR solving it.

Otherwise, feel free to work on other issues, https://github.com/Cloud-CV/EvalAI-ngx/issues or on one of the GSoC deliverables for this year, https://github.com/Cloud-CV/GSoC-Ideas/issues/

[2019-04-02 18:17] sivakumarpalivela opened #114 "Add a carousel for adding more organizations"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior

![Screenshot from 2019-04-02 23-45-01](https://user-images.githubusercontent.com/24860714/55426014-65f28900-55a1-11e9-99bb-ba1a985b3d0b.png)

## Expected behavior

Must be in a carousel format

[2019-04-02 18:18] sivapalivela commented on #114
Can I start working on this sir ?

[2019-04-02 18:57] RishabhJain2018 commented on #114
Sure @sivakumarpalivela .

[2019-04-03 06:43] Shekharrajak commented on #114
Please also check the activities in https://github.com/Cloud-CV/EvalAI-ngx/pull/105 and collaborate.

[2019-04-03 10:52] mtahafarooq opened #116 "Signup Url not found on signing up"
## I'm submitting a

(Check one with "x" from given options)
- [x] Bug report
- [ ] Feature request

## Current behavior
When a user fills the required fields on the signup form on `auth/signup` and clicks the submit button, it doesn't proceed forward, checking the console shows that the `endpointsService` is not present on the `self` object.

## Expected behavior

Upon clicking the signup button

[2019-04-03 10:54] mtahafarooq commented on #116
I've fixed it, and I'm going to open a PR soon, can you assign this to me?

[2019-04-03 10:55] Shekharrajak commented on #116
Feel free to open PR and refer the issue in PR description, so that everyone can see there is PR related to this issue .

[2019-04-03 11:01] Shekharrajak commented on #116
So what we discussed in gitter channel is :

Once you started the backend server in docker container, we can use it in Angular application by editiing the environment variable, present in environment/ folder :

[code]

Also I feel, environment folder should have proper named file.

Update -  api_endpoint should be localhost:8000/api when you are using local backend server.

[2019-04-03 11:10] mtahafarooq commented on #116
@Shekharrajak I already have the same api_endpoint in the codebase, but the problem is that the server running there doesn't response with Access-Control-Allow-Origin header to my pre-flight request.
Why is this happening? Can you please explain?

For testing, I've replaced it with **localhost:8000/api** to use the local server and it works just fine.

[2019-04-03 11:27] Shekharrajak commented on #116
Actually you need to use :

[code]

I mistakenly pasted worng api_endpoint, now I updated it.

[2019-04-03 11:29] Shekharrajak commented on #116
@RishabhJain2018 , shouldn't it work for `'http://staging.evalai.cloudcv.org:8000/api/'` end-point as well ? Are you aware of Access-Control-Allow-Origin issue(when running Angular application locally) for this staging endpoint?

[2019-04-03 11:30] mtahafarooq commented on #116
@Shekharrajak understood.

So, I made the PR, and it was failing a test case, I've fixed that as well (just needed to add the service in spec file providers array). And the Travis CI has passed all the test cases.

https://github.com/Cloud-CV/EvalAI-ngx/pull/117

Now you will assign a reviewer yourself right?

[2019-04-03 18:11] sivakumarpalivela opened #119 "Modifying Dashboard UI"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x ] Feature request

## Current behavior
![Screenshot from 2019-04-03 23-37-24](https://user-images.githubusercontent.com/24860714/55502120-7706cd00-5669-11e9-8801-adb96297ca28.png)

## Expected behavior

![Screenshot from 2019-04-03 23-34-25](https://user-images.githubusercontent.com/24860714/55502134-8128cb80-5669-1

[2019-04-03 18:12] sivapalivela commented on #119
Sir, Can I start working on this issue ?

[2019-04-03 18:27] Shekharrajak commented on #119
Sure!

[2019-04-06 04:39] sivakumarpalivela opened #121 "Forum UI was not implemented yet and it returns a 404 page"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior

![Screenshot from 2019-04-06 10-05-53](https://user-images.githubusercontent.com/24860714/55664917-e04a3400-5853-11e9-99b2-190eaa855b30.png)

## Expected behavior

![Screenshot from 2019-04-06 10-05-45](https://user-images.githubusercontent.com/24860714/55664922-e93b0580-5853-1

[2019-04-06 04:40] sivapalivela commented on #121
Shall I work on this issue, Sir?

[2019-04-07 10:40] mtahafarooq opened #123 "Signup From label mismatch for error handling"
## I'm submitting a

(Check one with "x" from given options)
- [x] Bug report
- [ ] Feature request

## Current behavior
In sign up form when a user chooses a fully numeric password and clicks the submit button, the server returns a validation error but it does not get displayed under the password's form field.

## Expected behavior
The system should show the validation error message under the pas

[2019-04-07 10:44] mtahafarooq commented on #123
@Shekharrajak I've been able to fix this issue locally, the problem is that when the validation error is returned the field name is "password1" and when this label is passed to `formItemForLabel` function, it is unable to fetch the form item since the relevant form item has the label "password" and not "password1".
If we change the label to "password1" then it does gets fixed but then the label fo

[2019-04-07 10:56] mtahafarooq commented on #123
@Shekharrajak I've done some research on backend and I see that rest_auth is being used and it requires the password fields to be password1 and password2.
Reference: https://django-rest-auth.readthedocs.io/en/latest/api_endpoints.html#registration

What do you say?

[2019-04-07 15:10] Shekharrajak commented on #123
Thanks @mtahafarooq  for pointing it out. Can you check once how this functionality works in https://github.com/Cloud-CV/EvalAI repo and if you find the same issue there as well, then we will go to backend otherwise front-end change will be sufficient.

[2019-04-08 07:05] mtahafarooq commented on #123
@Shekharrajak it does not appear there. Should I make a PR with the fix?

[2019-04-08 07:56] Shekharrajak commented on #123
@mtahafarooq , Yes go ahead .

[2019-04-08 08:22] mtahafarooq commented on #123
Fixed https://github.com/Cloud-CV/EvalAI-ngx/pull/124

[2019-05-09 05:41] #79 closed

[2019-05-09 06:11] #108 closed

[2019-06-13 08:51] #106 closed

[2019-06-13 08:51] #107 closed

[2019-07-11 10:01] RishabhJain2018 opened #168 "Remove vendor-prot.scss file"

[2019-07-13 10:45] Sanji515 opened #169 "Add a check for the project and publication url fields under submit tab"
## Current behavior

Currently, there is no check for the project and publication url fields when making submissions under the `Submit` tab

## Expected behavior

There should be a check for the above mentioned fields if they are real.

[2019-07-15 16:04] Sanji515 opened #171 "Better implementation of redirect to participate tab if user has not participated in the challenge"
#### Current behaviour

As for current implementation to redirect the user to `participate tab` if he has not participated in the challenge, it checks for all the possible urls related to a particular tab of a challenge(in this case view all submissions tab) and then redirect to `participate tab` related to it. Please look at the link to see the current implementation in the code.

https://github.

[2019-07-18 19:24] Sanji515 opened #180 "Add a check while editing phase details in challenge page"
## Current behaviour

When a host user edit phase details on challenge page then he's able to enter `max number of submissions/day > max number of submissions/month > Max total submissions`

## Expected behaviour

We should include a soft-check so that the host do not enter `max number of submissions/day > max number of submissions/month > Max total submissions`.

[2019-07-19 14:13] Sanji515 opened #181 "Fix the issue of showing incorrect former message in the UI of participate, submit and my submissions tab"
Behaviourally when I'm logged out and try to load a page we are first seeing `Sorry, The Challenge is not active!` message and then switching to `Please Login to access this section.` Ideally we shouldn't be seeing the former message if we are not logged-in in first place.

_Originally posted by @galipremsagar in https://github.com/Cloud-CV/EvalAI-ngx/pull/153_

Also, this issue can be seen when w

[2019-07-21 15:00] Sanji515 opened #185 "Change the filtering on front-end itself rather than a back-end api call"
Since we have pagination in place we have to do back-end api call. I think either we will have to get rid of back-end based pagination and turn it into purely a front-end pagination or live with filtering using back-end API having an overhead of single round-trip communication.

_Originally posted by @galipremsagar in https://github.com/Cloud-CV/EvalAI-ngx/pull/167#issuecomment-513523355_

[2019-07-26 13:16] sanketbansal opened #190 "Replace template driven form in auth pages with app input component"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior

Currently, auth pages use the angular's template-driven form which gets duplicated at various places. Therefore these need to be generalized.
## Expected behavior

Generalized the template-driven form used by the auth components so that those can be reused by different componen

[2019-07-28 09:54] #121 closed

[2019-07-28 09:55] #119 closed

[2019-08-19 15:41] sachinmukherjee opened #207 "Spacing issue in login page"
# Bug Report
There Should a Space between **Already have an account?** and **Log In**
## Current Behaviour
<i>Already have an account?Log In</i>
## Expected Behaviour
<i>Already have an account? Log In</i>

@RishabhJain2018  I want to solve this issue.

[2019-08-21 03:50] galipremsagar commented on #207
@sachinmukherjee feel free to raise a PR with the fix.

[2019-08-24 15:19] sachinmukherjee opened #209 "Input data not clearning after creating a team"
# Bug report
After creating a new team, the team name still remains in the Create team Form. If the team is created successfully it should get cleared from the input box.
![creating team bug](https://user-images.githubusercontent.com/19318218/63639388-0f9cf880-c6b0-11e9-974b-796817581eed.png)
![Screenshot from 2019-08-24 20-46-48](https://user-images.githubusercontent.com/19318218/63639420-699dbe0

[2019-08-29 16:56] #207 closed

[2019-11-09 03:31] pushkalkatara opened #211 "Data redundant on New Participant Team while editing existing team"
![test](https://user-images.githubusercontent.com/21266230/68522254-61c4e180-02cf-11ea-83dd-b90d64f40b01.png)

[2019-11-09 23:58] pushkalkatara opened #212 "Host Challenge Analytics Page with text click but no button attached."
[
![test](https://user-images.githubusercontent.com/21266230/68536548-ddc83380-037a-11ea-910d-e7d897259280.png)
](url)

[2019-11-12 08:01] pushkalkatara commented on #98
@RishabhJain2018 I think this issue is resolved. The docker is working fine.

[2019-11-22 05:34] ssaahhaajj opened #213 "After clicking in pull request template in readme it goes to /.github/PULL_REQUEST_TEMPLATE.md where the link provided is not working"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [ ] Feature request

## Current behavior

## Expected behavior

## Steps to reproduce

## Related screenshots

## Other information

## System information

[2019-11-22 05:35] ssaahhaajj commented on #213
Please resolve this issue

[2019-11-22 20:18] super-beam opened #214 "Read and fix grammatical or casing errors in the README.md"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behaviour

Check README.md in EvalAI-ngx's repository for grammatical and casing errors.

## Expected behavior

## Steps to reproduce

## Related screenshots

## Other information

## System information

[2019-12-12 16:24] #211 closed

[2019-12-19 07:53] #181 closed

[2019-12-26 13:06] nikochiko opened #248 "[feature request] Add functionality to have preconfigured notebooks for each challenge"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior

[Google Colab](https://colab.research.google.com/) notebooks have become quite popular now. Many researchers (potential users) are turning to Google Colab for their projects due to its accessibility, mobility and ease of use.
In the context of EvalAI, a participant user has to

[2019-12-26 13:47] diningPhilosopher64 opened #249 "Unable to run "docker-compose up" , "angularjs" and "worker" services are failing."
## I'm submitting a

(Check one with "x" from given options)
- [x] Bug report
- [ ] Feature request

## Current behavior

(Check screenshot for better understanding)
The "worker" service fails with the following output (exits with status code 1) :
`
worker_1     | TypeError: eval() arg 1 must be a string, bytes or code object
worker_1     | [2019-12-26 13:31:40] INFO Using /tmp/tmph_lyqpk3 as temp

[2019-12-26 13:53] nikochiko commented on #249
Confirming the issue.
Occurs on Ubuntu 16.04 as well.

[2019-12-27 21:00] nikochiko opened #250 "[docs] URL Structure section is unreadable"
## I'm submitting a

(Check one with "x" from given options)
- [x] Bug report
- [ ] Feature request

## Current behavior

Links with the issue:
https://github.com/Cloud-CV/EvalAI-ngx/blob/master/.github/CODE_STRUCTURE.md#url-structure
The content under sections `Static Pages` and `Dynamic Pages` is quite difficult to read.

## Expected behavior

I think the data is supposed to be tables but doesn'

[2019-12-28 18:14] kumarrajan4264 commented on #109
@RishabhJain2018 can i work on this issue ??

[2019-12-30 08:11] gautamjajoo opened #253 "Add option to scroll to the top"
## I'm submitting a
- [ ] Bug report
- [x] Feature request

## Expected behavior
Add an option to scroll to the top of the page like in the [EvalAI-cli docs](https://evalai-cli.cloudcv.org/) page.

[2020-01-01 14:24] jayaike commented on #249
@vkartik97 @Ram81 @nikochiko @pushkalkatara @RishabhJain2018 Please what does the LIMIT_CONCURRENT_SUBMISSION_PROCESSING variable return. That seems to be one of the issues.

[2020-01-01 14:28] jayaike commented on #249
It should be a string, however, it is not coming that way. I can see that it is an environment variable so perhaps you know the variable's value.

Pointer: https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/submission_worker.py#L41

[2020-01-04 19:31] nsjcorps opened #255 "Inconsistency in EvalAI-ngx."
## I'm submitting a

(Check one with "x" from given options)
- [x] Bug report
- [ ] Feature request

## Current behavior
I noticed that in the EvalAI-ngx sometimes "state-of-the-art" is used, other times "state of the art" is used.

## Expected behavior
Either "state of the art" or "state-of-the-art" should be used.

Which one should we use so I can make a pull request for it?

[2020-01-04 19:32] jayaike commented on #255
@Sanji515 @pushkalkatara @vkartik97 @Ram81 @RishabhJain2018

[2020-01-04 20:03] nsjcorps opened #257 "Introduction of Code Splitting To EvalAI-ngx (Optimisation)"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior

EvalAI-ngx takes a relatively long time to load up due to the multiple files it loads at runtime. It has to load every component into the main bundle all at once. Slow loading time could steer a lot of new users away from the website.

## Expected behavior

It should load faste

[2020-01-05 06:43] Suryansh5545 commented on #255
@nsjcorps Are you talking about the line "state of the art" that is shown at homepage . because i dont see line like "state-of-the-art" in the repo

[2020-01-05 07:08] Suryansh5545 commented on #250
@nikochiko Can i Work on this?

[2020-01-05 07:09] nikochiko commented on #250
Yes of course! You did nice work on the PR!
Please reopen it! :+1:

[2020-01-05 07:12] Suryansh5545 commented on #253
Hey @gautamjajoo Can i work on it?

[2020-01-05 10:59] jayaike commented on #255
state-of-the-art was used in :

about.component.html line 10
get-involved.component.html line 11
home.component.html line 3

state of the art was used in

footer.component.html line 6
homemain.component.html line 3
auth.component.html line 27

@Suryansh5545

[2020-01-05 11:02] Suryansh5545 commented on #255
Yea i Saw it Now.

[2020-01-05 11:54] drepram commented on #253
I've found the solution for it, yet I need to make a separate PR for it. Once #252 is merged I will make a new PR for this.

[2020-01-05 12:06] Suryansh5545 commented on #253
are you working on it too?

[2020-01-05 12:07] Suryansh5545 commented on #253
ok you work on it bro

[2020-01-06 18:06] Sanji515 commented on #257
Hey @nsjcorps Sure, sounds good!

[2020-01-06 21:36] krtkvrm commented on #255
@nsjcorps thanks for reporting this. If you are interested in fixing this issue, please let me know.

[2020-01-06 21:38] jayaike commented on #255
I created a PR for it already @vkartik97

https://github.com/Cloud-CV/EvalAI-ngx/pull/261

[2020-01-06 21:48] jayaike commented on #255
I think you should also take a look at  https://github.com/Cloud-CV/EvalAI-ngx/pull/256 @vkartik97

[2020-01-10 17:20] #253 closed

[2020-01-10 18:57] gautamjajoo opened #266 "Remove the extra button on privacy policy page"
## I'm submitting a

(Check one with "x" from given options)
- [x] Bug report
- [ ] Feature request

## Current behavior
There are two buttons for scroll-to-top on privacy policy page.
PR #263 was merged but I forgot to mention about this.

## Expected behavior
Remove the one which was used earlier,

![2020-01-11](https://user-images.githubusercontent.com/24366008/72178157-55aceb80-3408-11ea-9f75-

[2020-01-12 13:42] Suryansh5545 commented on #249
@vkartik97 told me a alternative **temporary solution** which will make it run . first run the docker container and let the evalai-ngx container exit and then use ng serve to start the front end individually . and you can visit the evalai-ngx front-end at localhost:4200 instead of localhost:8888.

[2020-01-14 14:30] nsjcorps opened #271 "Use of Route Guards as opposed to in-component Redirects"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior

The project allows user to navigate to protected routes and then Redirects to appropriate route based on authentication status.
## Expected behavior

The project should make use of Route Guards using CanActivate. This way we will follow the DRY principle of coding

[2020-01-14 14:34] jayaike commented on #271
I will like to work on the issue along with the Lazy Loading Modules issue I created @vkartik97 @RishabhJain2018 @Ram81 @yashdusing @Sanji515

[2020-01-14 15:07] Suryansh5545 opened #272 "Dark Theme Option"
## I'm submitting a

(Check one with "x" from given options)
- [ ] Bug report
- [x] Feature request

## Current behavior
Currently there is only a light mode which is not good for those who use dark mode and also for those who might access the webiste at night in dark

## Expected behavior
There should be a dark mode

[2020-01-14 15:09] Suryansh5545 commented on #272
Currently i am in the process of making dark mode option for the main evalai repo and will make one for ngx after the main one design is finalised

[2020-01-19 13:46] Sanji515 commented on #271
sure! @nsjcorps , go ahead

[2020-02-04 05:50] Suryansh5545 commented on #272
The feature is currently not required by the community

[2020-02-04 05:50] #272 closed

[2020-02-06 18:40] Abhi58 commented on #214
README.md fixed. PR #283

[2020-02-06 18:47] Abhi58 commented on #214
@super-beam @RishabhJain2018 @Sanji515 The pull request passes the build. Please review it and merge it. Thanks!

[2020-02-06 20:19] Abhi58 commented on #169
I am working on this issue. Please assign it to me @Sanji515 . Thanks!

[2020-02-06 20:58] Sanji515 commented on #169
Hey @Abhi58 it is already been fixed [here](https://github.com/Cloud-CV/EvalAI-ngx/pull/231). Please feel free to take some other issue. Closing this.

[2020-02-06 20:58] #169 closed

[2020-02-06 22:28] Abhi58 commented on #169
Okay. Thanks for the update! @Sanji515

[2020-02-07 22:25] Sanji515 opened #284 "Add option to change leader-board decimal precision"
Add option under settings tab in challenge page to change leader-board decimal precision by challenge host (**Note:** settings tab is only for the host user).

It is expected to add the front-end to be able to show the current `leaderbord decimal precision` value (refer field [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/models.py#L328)) and to add the option to change this

[2020-02-08 06:52] Suryansh5545 commented on #284
This was a GCI task and the problem faced by the student was that they were able to find how precision value is changed or defined so. For those who will attempt this you can find the precision value here https://github.com/Cloud-CV/EvalAI-ngx/blob/master/src/app/components/challenge/challengeleaderboard/challengeleaderboard.component.html#L114 this value is currently statically applied.

[2020-02-08 17:03] Abhi58 commented on #284
Hi @Sanji515 @Suryansh5545 . I would like to take up this issue. Please assign this to me. Thanks!

[2020-02-08 17:32] Sanji515 commented on #284
Sure @Abhi58 You can work on it.

[2020-02-08 17:48] Abhi58 commented on #284
Hi @Sanji515 . I was going through the code of EvalAI. There i found a variable called 'leaderboard_decimal_precision' which i believe is a part of callback response data on line 1437 in controller.js. I searched for the variable in the controller file, but couldn't find it.

[2020-02-08 17:48] Abhi58 commented on #284
Could you tell me from where is the response coming from? Thanks!

[2020-02-08 18:07] Sanji515 commented on #284
@Abhi58 I didn't get exactly of which controller.js file you are pointing line 1437. But you can take a look at this API [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1748)

[2020-02-08 18:23] Abhi58 commented on #284
Sure @Sanji515 . Thanks!

[2020-02-08 20:26] Abhi58 commented on #284
Hi @Sanji515 . I ran the EvalAI-ngx using ng serve because docker-compose up was giving errors. So, based on EvalAI code and the assumption that the backend is same for EvalAI and ngx i have made some changes.

[2020-02-08 20:28] Abhi58 commented on #284
I am not able to test my code since the backend server is not running. I will create a work in progress PR. Please verify it and let me know if the issue has been resolved. Sorry for the trouble! Thanks!

[2020-02-08 23:03] Suryansh5545 commented on #284
@abhi58 What problem are you facing?

[2020-02-08 23:23] Suryansh5545 commented on #284
@Abhi58 I think you can edit the precision value here https://github.com/Cloud-CV/EvalAI-ngx/blob/master/src/app/components/challenge/challengeleaderboard/challengeleaderboard.component.html#L114 also if your docker setup can't run angular container then you can try to keep both backend and frontend started on two terminals.

[2020-02-08 23:44] Abhi58 commented on #284
Hi @Suryansh5545 . Backend was not running. That's the problem i was facing. As you suggested i will try to run on two terminals.

[2020-02-08 23:46] Abhi58 commented on #284
Actually, i have made changes to the line that you have mentioned based on the original EvalAI code. Please review it and let me know. Thanks! @Suryansh5545

[2020-02-08 23:48] Suryansh5545 commented on #284
@Abhi58 i have made some comments please take a look

[2020-02-16 11:22] Kajol-Kumari commented on #284
@Abhi58  May i know if you are still working on it or not as i would like to work on it.

[2020-02-16 16:13] Abhi58 commented on #284
@Kajol-Kumari yes, i am still working on it. I was busy with school work this week so couldn't spend much time. I will be getting back to working on this today. Please pick another issue. Thanks!

[2020-02-16 17:07] Kajol-Kumari commented on #284
@Abhi58 I have already done some of its part, so if you wish,i can create a draft PR which you can pull and continue to work.If you want,Please let me know.

[2020-02-16 18:29] Abhi58 commented on #284
@Kajol-Kumari That's okay. I have finished working on it. I will create a pull request soon. You don't have to create a pr. Actually, if you see i already created a pull request before, but that had some problems. So, i just had to do some small changes. Sorry about that! Please feel free to pick another issue.

[2020-02-16 21:00] Abhi58 commented on #284
@Sanji515 @Suryansh5545 @RishabhJain2018 I have raised a pr #290 which resolves this issue. Please review it and close this issue.

[2020-02-17 03:03] sraghuvanshi opened #291 "Unable to run EvalAI-ngx locally"
Sir, I tried to run the EvalAI-ngx code on my local machine using the command given in readme.

However, it shows the following error:

I'm running it on ubuntu 18.04. I've attached the screenshots of the terminal and localhost:8000 for reference.

Please look into it. Thank you.

## Screenshots
![Screenshot from 2020-02-17 06-44-08](https://user-images.githubusercontent.com/48951339/74620645-db3a

[2020-02-17 11:01] Kajol-Kumari commented on #291
@sraghuvanshi I think there is already an issue opened for this #249 .So, please close this issue and for temporary solution regarding setting up the development environment please go through the comments of #249

[2020-02-17 13:20] sraghuvanshi commented on #291
Sure @Kajol-Kumari, Thank you for referring to the issue #249.

[2020-02-17 13:20] #291 closed

[2020-02-21 14:06] adrijshikhar commented on #168
@RishabhJain2018 i would like to work on this issue, can you assign it to me?

[2020-02-28 22:04] aloksingh3112 opened #296 "Show Hide password button is not working properly"
## I'm submitting a

(Check one with "x" from given options)
- [x ] Bug report
- [ ] Feature request

## Related screenshots

![password](https://user-images.githubusercontent.com/27079355/75590880-54ad4780-5aa4-11ea-96c2-4be331945ec0.png)

[2020-02-29 10:36] #296 closed

[2020-03-11 15:10] danielrs975 commented on #266
Hi! I can work on this

[2020-03-14 12:29] adityaketkar opened #300 "[docs] Fix broken anchor link CODE_STRUCTURE.md"
## I'm submitting a

- [x] Bug report
- [ ] Feature request

## Current behavior
The link to Url Structure anchor is broken on the page.

![image](https://user-images.githubusercontent.com/22611315/76681854-7b689380-65f7-11ea-9595-ebaffadb1138.png)

## Expected behavior
The link should lead to the section Url Structure.

[2020-03-15 17:29] danielrs975 commented on #190
Hello @sanketbansal, Can I work on this issue ?

[2020-03-15 20:12] Sanji515 commented on #190
Sure @danielrs975

[2020-03-16 15:53] danielrs975 commented on #190
Hi! @Sanji515 I have a question: The app-input component can be modify ?

[2020-03-17 03:30] rohitjha941 commented on #185
@Sanji515 Is it still open? Can I work on this

[2020-03-17 16:46] #212 closed

[2020-03-20 17:53] danielrs975 commented on #190
Hi @Sanji515 can you tell me with which tool can I make the demo for the pull request ?

[2020-03-20 18:21] aloksingh3112 opened #304 "Selected Marker Is now showing on clicking create challange in sidebar"
(Check one with "x" from given options)
- [ x ] Bug report
- [ ] Feature request
<img width="1396" alt="Screenshot 2020-03-20 at 11 35 23 PM" src="https://user-images.githubusercontent.com/27079355/77194261-a5451d00-6b05-11ea-8e42-5e8f851590c5.png">

[2020-03-20 18:22] aloksingh3112 commented on #304
@Sanji515 if this is fine I would like to work on this

[2020-03-20 18:25] aloksingh3112 opened #305 "UI is inconsistent in confirm modal"
(Check one with "x" from given options)
- [ x ] Bug report
- [ ] Feature request

<img width="608" alt="Screenshot 2020-03-20 at 11 34 57 PM" src="https://user-images.githubusercontent.com/27079355/77194539-2c929080-6b06-11ea-9f86-98cee4776b61.png">

[2020-03-20 18:38] aloksingh3112 opened #306 "Change team name should have prefilled data and also have validation"
## I'm submitting a

(Check one with "x" from given options)
- [ x] Bug report
- [ ] Feature request

<img width="399" alt="Screenshot 2020-03-20 at 11 39 46 PM" src="https://user-images.githubusercontent.com/27079355/77195614-efc79900-6b07-11ea-80af-1c2ea4940320.png">

[2020-03-20 18:38] aloksingh3112 commented on #306
If this is fine i would like to take this

[2020-03-20 18:39] #305 closed

[2020-03-23 16:37] Kajol-Kumari opened #308 ""Host" user doesn't contain any hosted challenge"
## I'm submitting a

- [x] Bug report

## Current behavior
The host login doesn't contain any hosted challenge.

## Expected behavior
'host' should have atleast one hosted challenege (as it is made for demo purpose)

## Steps to reproduce
login as "host"
username = "host"
password = "password"
Go to "Hosted Challenges" Tab

Screenshort:
![Screenshot from 2020-03-23 18-22-32](https://user-images.gi

[2020-03-23 18:36] Kajol-Kumari commented on #304
@aloksingh3112 Thanks for the issue but when you click on "Create Challenge" it redirects you to the "Host Teams" tab as you can't host a challenge without a host team. This is the reason the "create challenge" tab not get highlighted after being clicked and instead "Host Teams" tab gets highlighted.
So, please feel free to close this one as I think this issue is not require.

[2020-03-23 18:59] #308 closed

[2020-03-23 20:07] Kajol-Kumari opened #309 "Remove Banned Email Id button not working"
## I'm submitting a

- [x] Bug report

## Current behavior
Banned Email not get removed after clicking on "cross-icon(x)" and comes back after refreshing

## Expected behavior
Remove button should have removed that particular email id out of banned email Ids list

## Steps to reproduce
1. Login as "host"
2. Go to hosted challenges -> click on challenge -> go to setting tab
3. Add any valid email i

[2020-03-24 17:40] Kajol-Kumari opened #310 "View All Submissions Tab for host redirects to Participant tab under"
## I'm submitting a

- [x] Bug report

## Current behavior
Clicking on "view all submissions" redirects to "participate" Tab.

## Expected behavior
It should have open "view all submission" page instaed of redirecting to "participate" Tab

## Steps to reproduce
1. login as host
2. Go to hosted challenges -> click on hosted challenge -> click on "view all submission" tab

GIF
![ezgif com-video-to-g

[2020-03-29 20:50] #304 closed

[2020-05-14 22:14] #309 closed

[2020-05-20 05:59] Kajol-Kumari opened #319 "Refactoring App module and App routing module"
In PR #299 some of the modules are refactored. Below is the list of modules for which refactoring is left to be done.

Refactoring TODO list:

-  [ ] Analysis Module
-  [ ] About Module
-  [ ] challenge-create Module
-  [ ] Contact Module
-  [ ] Get-involved Module
-  [ ] Not-found Module
-  [ ] Our-team Module
-  [ ] Privacy-Policy Module
-  [ ] Profile Module

[2020-05-30 04:22] #180 closed